\@font-face {
	font-family: 'Cinzel', Helvetica, serif;
}

body {
    background-color: #2a9dea;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

#about {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}


form {
    padding-top: 5%;
    text-align:center;
}

input {
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}

button { 
    height: 40px;
}

iframe {
    padding: 10%;
}

.social {
    max-height: 40px;
    margin: 5px;
}

footer {
    text-align:center;
}

ul {
    list-style: none;
    text-align:center;
}

a {
	color: #ccc;
	padding: 30px 0;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0.8), rgba(204, 204, 204, 0));
    clear: both;
}

.h1 {
    color: #000;
	font-family: 'Cinzel', Helvetica, serif;
	font-weight: bold; 
    font-size: 6rem;
	text-shadow: -2px -2px 1px rgba(100, 222, 252, .8);
	text-align: center;
	position: relative;
	margin-top: 0;
    padding-top: 20px;
}

.h2, 
.h3,
.h4 {
    text-align: center;
}

.centerMe {
	text-align: center;
	vertical-align: middle;
}

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 900px;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img {
	margin-top: 10%;
	max-height: 70%;
}

#overlay p {
	clear: both;
	color: white;
}

.platforms {
    padding-top: 5%;
}

.platforms img {
    padding-top: 5%;
}

.container-fluid p {
    text-align:center;
}

.vote {
    text-align:center;
}

.vote p {
    padding: 5% 10% 5% 10%;
    text-align:center;
}

.plTitle {
    font-weight:bold;
    padding-top: 5%;
}

.gallery img {
    width: 60%;
	margin: 5% auto;
}

.we-cat {
    background: linear-gradient(0deg, transparent, #fff), #2a9dea url('../images/limber_header.jpg') no-repeat center center;
    background-size: cover;
    padding: 0;
    height: 90vh;
}

.puffy {
    background: url('../images/rockypuffy.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
}

.rush {
    background: url('../images/new_rushmore.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
}

.obama {
    background: linear-gradient(0deg, transparent, #fff), #2a9dea url('../images/meowwecan.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
}

.stare {
    background: linear-gradient(0deg, transparent, #fff), #2a9dea url('../images/limberstare.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
}

@media screen and (max-width: 400px) {
    .h1 {
        font-size: 4rem;
    }

    .social {
        max-width: 20px;
        max-height: 20px;
        margin: 5px;
    }

    .links {
        padding-bottom: 10%;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    #together {
        font-size: 4rem;
    }

    .social {
        max-width: 30px;
        max-height: 30px;
        margin: 5px;
    }

    .links {
        padding-bottom: 3%;
    }
}

@media screen and (min-width: 601px) and (max-width: 975px) {
    .links {
        padding-bottom: 1%;
    }
}