\@font-face {
	font-family: 'Cinzel', Helvetica, serif;
}

body {
    background-color: #2a9dea;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


form {
    text-align:center;
}

.social {
    max-height: 40px;
    margin: 5px;
}

footer {
    text-align:center;
}

.h1 {
    color: #000;
	font-family: 'Cinzel', Helvetica, serif;
	font-weight: bold; 
	text-shadow: -2px -2px 1px rgba(100, 222, 252, .8);
	text-align: center;
	position: relative;
	margin-top: 0;
    padding-top: 20px;
}

.container-fluid p {
    text-align:center;
}

.vote {
    text-align:center;
}

.vote p {
    padding: 5% 10% 5% 10%;
    text-align:center;
}

.we-cat {
    background: linear-gradient(0deg, transparent, #fff), #2a9dea url('../images/limber_header.jpg') no-repeat center center;
    background-size: cover;
    padding: 0;
    height: 90vh;
}

.puffy {
    background: url('../images/rockypuffy.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
}

.rush {
    background: url('../images/new_rushmore.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
}