@{
    ViewData["Title"] = "Gear";
}
<header class="obama">
    <h1 class="h1">@ViewData["Title"]</h1>
</header>
<h3 class="h3">@ViewData["Message"]</h3>

<div>
    <p>If you are interested in campaign gear, we have multiple options for you, including a <a href="http://www.cafepress.com/limberbutt2016?awc=4102_1442855222_78acd63d6ed3f2db4a8be6c010476115&utm_medium=affiliate&utm_source=aw&utm_term=78888&utm_content=0#">Cafe Press store</a>.</p>
</div>
<div class="container gallery" id="gallery">
    <div class="row">
        <div class="col-sm-12 col-md-6 centerMe">
            <a href="~/images/tshirt.jpg"><img src="~/images/tshirt.jpg" alt="T-shirt"/></a>
        </div>
        <div class="col-sm-12 col-md-6 centerMe">
            <a href="~/images/cofeemug.jpg"><img src="~/images/cofeemug.jpg" alt="Coffee Mug" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 centerMe">
            <a href="~/images/yardsign.png"><img src="~/images/yardsign.png" alt="Yard Sign" /></a>
        </div>
        <div class="col-sm-12 col-md-6 centerMe">
            <a href="~/images/wipertag.jpg"><img src="~/images/wipertag.jpg" alt="Wiper Tag"/></a>
        </div>
    </div>
</div>
<div id="overlay">

</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>

}



