@{
    ViewData["Title"] = "Home Page";
}

<header class="we-cat">

    <h1>Together, we cat.</h1>
</header>

<div class="row">

    <form>
        <div class="col-sm-4">
            <input placeholder="Email"/>
        </div>
        <div class="col-sm-4">
            <input placeholder="Zip Code"/>
        </div>
        <div class="col-sm-2">
            <button type="submit">Meow</button>
        </div>
    </form>
    <div class="col-sm-2">
        <h4>Join us.</h4>
    </div>
</div>
