@{
    ViewData["Title"] = "Home Page";
}

<header class="we-cat">

    <h1 class="h1" id="together">Together, we cat.</h1>
</header>


<div id="about">
    <div>
        <h3 class="h3">About Limberbutt McCubbins</h3>
    </div>
    <div>
        <p>
            Limberbutt McCubbins is seeking the Democratic Presidential nomination in 2016. Born homeless, in Louisville, Kentucky, he was a rescue cat. He lives there today with his brother Emo and sister Dora.
        </p>
    </div>
    <div>
        <p>
            Limberbutt has a kind heart and fierce loyalty to America. He believes in a strong middle class, a land that creates fair wages for it workers, and a tax code that is just for all.
        </p>
    </div>
    <div>
        <p>
            Limberbutt believes that cats and all animals have a right to affordable health care, just like humans. From immunizations to spaying and neutering, no animal should have to go without care.
        </p>
    </div>
    <div>
        <p>
            Space exploration is something that interests Limberbutt. He believes that we should see a return to cat space flight and an increase in manned space flight. Science is an amazing tool, it's time politicians learned to use it.
        </p>
    </div>
</div>
<div class="embed-responsive embed-responsive-16by9 hidden-xs">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dujUyKTuzts" frameborder="0" allowfullscreen></iframe>
</div>
