@{
    ViewData["Title"] = "Platforms";
}

<header class="puffy">
    <h1 class="h1">@ViewData["Title"].</h1>
</header>

<div class="vote">
    <h2>Your vote matters.</h2>

    <img src="~/images/cat_voter.jpg" />
    <p>We are not going to win an election if you don't vote. That's the simple mathematics of the situation. Even this cat understands that part. So here are some things to think about:
    Let's face it - talk is cheap. If you aren't registered to vote, you simply can't have your voice heard. If you aren't registered to vote you can't vote for anyone. TODAY. Do it. Find out what you need to do and what the deadlines are to vote in your area. <a href="http://rtvote.com/1JlMe29">Rock the Vote</a>
    I hear people complaining that they can't find a candidate that they can agree with on issues. The truth is, you'd be hard pressed to find a 100% match. I'd encourage you to take this quiz, while they don't list me as a candidate, it will give you an idea of all the issues at stake in the 2016 election. This is why I'm not for single issue voting. <a href="http://bit.ly/1PGqiQz">ISideWith.com</a></p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/gaymarriage.png" />
            <p>Gay Cat Marriage</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="~/images/drcat.jpg" />
            <p>ACA</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/catstronaut - copy.jpg" />
            <p>Space Exploration</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="~/images/cat_worker.jpg" />
            <p>H-1B Visas</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/earth.jpg" /> 
            <p>Environmental protection</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="~/images/catnip - copy - copy.jpg" />
            <p>Catnip</p>
        </div>
    </div>
</div>