@{
    ViewData["Title"] = "Platforms";
}

<header class="puffy">
    <h1 class="h1">@ViewData["Title"].</h1>
</header>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/gaymarriage.png" />
            <p>Gay Cat Marriage</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="~/images/drcat.jpg" />
            <p>ACA</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/catstronaut - copy.jpg" />
            <p>Space Exploration</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="~/images/cat_worker.jpg" />
            <p>H-1B Visas</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/earth.jpg" /> 
            <p>Environmental protection</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="~/images/catnip - copy - copy.jpg" />
            <p>Catnip</p>
        </div>
    </div>
</div>