@{
    ViewData["Title"] = "Platforms";
}

<header class="puffy">
    <h1 class="h1">@ViewData["Title"].</h1>
</header>


<div class="container-fluid centerMe">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/gaymarriage.png" />
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Gay Cat Marriage</p>
            <p>Obergefell v. Hodges
              Arguably the most import SCOTUS decision of 2015. If you don't know, Obergefell v. Hodges was a fight to allow same sex marriage licences to be recognize in all states.It also allowed lesbians and gays to marry in all 50 states. I stand behind this landmark decision. However, we wish to take it one step farther. The gay cat demographic has long been forgotten during this long and arduous process to gain equal rights. They have not, and will not be forgotten when I become President of the United States. I promises to bring these issues to the forfront of every Americans mind. Together, we cat.
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/drcat.jpg" />
        </div>
        <div class="col-xs-12 col-md-6">
            <p>ACA</p>
            <p>As a cat, I am so pleased to announce my bold plan to give health insurance to all animals, including dogs. It is important to my staff and I that medical bills for animals are easily paid for to keep these animals and friends healthy and alive. The rising cost for a visit to the vet is increasingly harder for the average American to afford. I for one will not stand idly by as the middle and lower class Americans begin to skip veterinarian visits. The Affordable Cat Act (ACA) is an important measure that will also help to subsidize the costs of spaying/neutering, as well as helping to cover the costs of surgeries.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/catstronaut - copy.jpg" />
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Space Exploration</p>
            <p>In 1963, the first and only cat to fly to space and return alive launched from a French launch facility. It has been several years now, and I believe that it's time to return to space. Space exploration has helped to shape the technology era. #Penny4NASA is a great example of why raising NASA's budget is a great idea for this country. NASA has created many modern conviences that you take for granted. For example, modern exercise shoes and wireless electrical devices are evolutions from NASA inventions. Meow is the time to increase NASA funding and return manned spaceflights to American soil. Humans and cats should continue to explore the universe together, side by side.
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/cat_worker.jpg" />
        </div>
        <div class="col-xs-12 col-md-6">
            <p>H-1B Visas</p>
            <p>>Meow is the time to increase the number of H-1B visas in this country. There are hundreds of qualified foreign cats that are ready to immigrate to the United States of America. For generation upon generation, these cats, both large and small, have created a better America for us all. The lions are a well respected cat from the african continent. The siamese cats are well respected for their glamor. The list goes on and on. However, as president, I will not rest until the number of H-1B visas allowed per year is increased in order to allow more foreign cats to work here in the United States.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/earth.jpg" /> 
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Environmental protection</p>
            <p>Global climate change is real, and it's happening fast. I may be no scientist, but I can understand when the scientific consesus is correct. Meow is the time to take action, scientists are worried that extinction of a large majority of animals could occur by 2050. The results are in folks, 2014 was the hottest year on record. We, as Americans, must push the rest of the world to stop using oil, and start using renewable energy sources. We must also switch to wind, water, or solar energies. We must stop offshore drilling to protect the oceanic environment. In the six months following the BP oil spill, more than 8,000 animals were found injured or dead. We must take action immediatly, or suffer the consequences. My team and I will create a cabinet full of climate change scientists who will advise me as I create supportive legislation.
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="~/images/catnip - copy - copy.jpg" />
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Catnip</p>
            <p>"Legalize Catnip?! I thought it was super bad for you" -American Public
              Things certainly change all the time. Remember when we used to think that slavery was a good thing? Sometimes change is welcomed. My team and I promise to help all American citizens gain access to both medical and recreational catnip. The research has been in for years. The conclusions are all the same. Catnip is safe for cats, and is an amazing insect repellent for humans. Meow is the time for the legalization of catnip.
            </p>
        </div>
    </div>
</div>