@{
    ViewData["Title"] = "Press";
}
<header class="rush">
    <h1 class="h1">@ViewData["Title"]</h1>
</header>
<h3 class="h3">Limberbutt McCubbins is a candidate we can all get behind! Meow is the time.</h3>

<div>
    <p>There are many, many articles out there from around the Globe about Limberbutt McCubbins and the #MeowIsTheTime Campaign, here are just a few selections.</p>
</div>
<div>
    <ul>
        <li class="links"><a href="http://www.npr.org/sections/itsallpolitics/2015/07/08/421140664/for-limberbutt-mccubbins-the-time-is-meow-to-run-for-president">For Limberbutt McCubbins, 'The Time is Meow' To Run For President</a></li>
        <li class="links"><a href="http://wfpl.org/louisville-cat-running-for-president-seriously-sort-of/">Louisville Cat Running For President (Seriously. Sort of.)</a></li>
        <li class="links"><a href="http://www.cosmopolitan.com/sex-love/news/a43076/this-cat-is-running-for-president/?src=spr_TWITTER&spr_id=1440_206010432">This Cat Is Running for President</a></li>
        <li class="links"><a href="http://jezebel.com/jezebel-endorses-limberbutt-mccubbins-cat-for-preside-1716827972">Jezebel Endorses Limberbutt McCubbins, Cat, for President</a></li>
        <li class="links"><a href="http://www.dailydot.com/lol/limberbutt-mccubbins-cat-president-2016/">Our favorite 2016 presidential candidate is a cat named Limberbutt McCubbins</a></li>
        <li class="links"><a href="https://en.wikipedia.org/wiki/Non-human_electoral_candidates#Examples">Wikipedia Page for Limberbutt</a></li>
        <li class="links"><a href="http://www.buzzfeed.com/sarahburton/pawlease-make-a-cat-be-president#.lnKK44JrN1">Is Meow The Time For A Cat President?</a></li>
        <li class="links"><a href="http://noticias.uol.com.br/tabloide/ultimas-noticias/tabloideanas/2015/07/10/garoto-registra-gato-como-candidato-a-presidencia-dos-estados-unidos.htm">Limberbutt, o gato, &eacute; candidato à Presid&ecirc;ncia dos EUA: &eacute; o Demo-cat</a></li>
    </ul>
</div>

