@model DotNetLimber.Models.Person

@{
    ViewData["Title"] = "Volunteer";
}

<header class="stare">
    <h1 class="h1">Volunteer</h1>
</header>

<div class="vote">
    <h2>Your vote matters.</h2>

    <img src="~/images/cat_voter.jpg" />
    <p>
        We are not going to win an election if you don't vote. That's the simple mathematics of the situation. Even this cat understands that part. So here are some things to think about:
        Let's face it - talk is cheap. If you aren't registered to vote, you simply can't have your voice heard. If you aren't registered to vote you can't vote for anyone. TODAY. Do it. Find out what you need to do and what the deadlines are to vote in your area. <a href="http://rtvote.com/1JlMe29">Rock the Vote</a>
        I hear people complaining that they can't find a candidate that they can agree with on issues. The truth is, you'd be hard pressed to find a 100% match. I'd encourage you to take this quiz, while they don't list me as a candidate, it will give you an idea of all the issues at stake in the 2016 election. This is why I'm not for single issue voting. <a href="http://bit.ly/1PGqiQz">ISideWith.com</a>
    </p>
</div>
<form asp-action="Volunteer">
    <div class="form-horizontal">
        <h2>Join us now!</h2>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 col-md-offset-3 control-label">First Name:</label>
            <div class="col-md-3 ">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group"> 
            <label asp-for="LastName" class="col-md-2 col-md-offset-3 control-label">Last Name:</label>
            <div class="col-md-3">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" class="col-md-2 col-md-offset-3 control-label">Zip Code:</label>
            <div class="col-md-3">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 col-md-offset-3 control-label">Email:</label>
            <div class="col-md-3">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Add Me Meow" class="btn btn-default btn-danger" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
